<div class="container-fluid">
	<% @document = @current_document %>
	<%= form_for @document, url: document_path(@current_document.id), :method => :put, remote: true do |f| %>
  	<%= f.text_area :description %>
  	<%= f.submit "Save", class: "btn button-gray" %>
  	<%= link_to "Delete", document_path(@current_document.id), :method => :delete, :remote => true, :class => "btn button-gray", data: {confirm: "Are you sure to delete this document?"} %>
  <% end %>
</div>
<div class="container-fluid">
  <%= markdown(@current_document.description) %>
</div>