<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">MarkdownEditor</a>
    </header>
    <div class="new-document">
	    <a href="#" data-toggle="modal" data-target=".new-doc" title="New document">
	      <%= image_tag("add.png", class: "pull-left add-image") %>
	      <p>New document</p>
	    </a>
	  </div>
    <ul class="nav" id="document-list">
    	<%= render :partial => "document_item"%>
    </ul>
  </div>

  <!-- Content -->
  <div id="content">
    <%= render :partial => "document_content" %>
  </div>
</div>


<div class="modal fade new-doc bs-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Document</h4>
      </div>
      <div class="modal-body">
        <%= form_for :document, url: {action: "create"}, remote: true do |f| %>
				  <div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><%= f.label :name, class: "no-m" %></span>
					  <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
					</div>				
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default button-simple" data-dismiss="modal">Close</button>
        	<%= f.submit "Create", class: "btn button-gray" %>  
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->